@import "../scss/utility.imports";

.td-input-container {
	display: flex;
	flex-direction: column;
	&.cap-label {
		label {
			text-transform: uppercase;
		}
	}
	label {
		font: {
			family: $titleFont;
			size: rem(20px);
			weight: 700;
		}
		color: #333;
		&:has(+ input) {
			margin: {
				bottom: rem(5px);
			}
		}
	}
	input {
		font: {
			family: $bodyFont;
			size: rem(24px);
		}
		color: #111;
		border-radius: 0;
		border: rem(1px) solid #bababa;
		padding: rem(8px) rem(10px);
	}
}